[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
websockets = "*"
click-log = "*"
web3 = "*"
eth-tester = "*"
eth-keys = "*"
python-dotenv = "*"
pyjwt = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.9"
